LOGGER_LEVEL=
LOGGER_FOLDER=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

BLUR_SERVICE_URL=

ORIGINAL_VIDEOS_FOLDER=
BLURRED_VIDEOS_FOLDER=

HTTP_ADDRESS=
HTTP_SHUTDOWN_TIMEOUT=