body,
html {
  font:
    500 18px "Manrope",
    sans-serif;
  color: #000;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1770px;
  height: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 50px;
  background: linear-gradient(90deg, #2568ff 0%, #00178a 100%);
  border-radius: 50px;
  font:
    700 22px "Manrope",
    sans-serif;
  color: #fff;
}
h1 {
  font:
    700 64px / 1.25 "Manrope",
    sans-serif;
  color: #fff;
}
h2 {
  font:
    700 38px / 1.57895 "Manrope",
    sans-serif;
  background: linear-gradient(90deg, #2568ff 0%, #00178a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font:
    700 30px / 2 "Manrope",
    sans-serif;
  color: #000;
}
h4 {
  font:
    700 22px "Manrope",
    sans-serif;
  color: #000;
}
.descriptor {
  font:
    500 16px "Manrope",
    sans-serif;
  text-transform: uppercase;
  color: #000;
}
/* ***********************************HEADER************************************ */
/* ***********************************HEADER************************************ */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url(../img/main.jpg) 0 0 / cover no-repeat;
}
.header__top {
  padding: 50px 0 0 0;
  margin-bottom: auto;
}
.header__top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-item {
  margin-right: 50px;
  color: #fff;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link img {
  margin-right: 5px;
}
.header__nav-languages {
  background: transparent;
  appearance: none;
  font:
    500 18px "Manrope",
    sans-serif;
  color: #fff;
  padding: 5px 22px 5px 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
}
.header__select {
  position: relative;
}
.header__select img {
  top: 50%;
  transform: translateY(-50%);
  right: 20%;
  position: absolute;
}
.header__nav-language {
  color: #000;
}
.header__bottom {
  margin-bottom: 150px;
}
.header__heading {
  max-width: 520px;
}
.header_text {
  margin: 20px 0 30px 0;
  max-width: 430px;
  color: #fff;
}

/* ***********************************ABOUT************************************ */
/* ***********************************ABOUT************************************ */

.about {
  margin-top: 160px;
}
.about__top {
  margin-bottom: 100px;
}
.about__top-inner {
  display: flex;
  justify-content: space-between;
}
.about__heading {
  max-width: 1105px;
}
.about__bottom-inner {
  display: flex;
  justify-content: space-between;
}
.about__left {
  margin-right: 110px;
}
.about__left img {
  border-radius: 25px;
}
.about_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_info {
  display: flex;
  justify-content: space-between;
}
.about_info-item:first-child {
  margin-right: 30px;
}
.about_info-item p:first-child {
  margin-bottom: 10px;
}
.about_author p:first-child {
  font-weight: 700;
}
.about_right {
  position: relative;
}
.about_right::after {
  content: "";
  left: 0;
  right: 0;
  top: 82%;
  height: 1px;
  background: rgba(178, 178, 178, 0.4);
  position: absolute;
}

/* ***********************************FOR************************************ */
/* ***********************************FOR************************************ */
.for__top {
  margin-top: 160px;
}
.for__top-inner {
  display: flex;
  margin-bottom: 100px;
}
.for__descriptor {
  margin-right: 605px;
}
.for__list-item {
  font:
    700 30px / 2 "Manrope",
    sans-serif;
  color: #000;
  height: 120px;
  padding: 30px 35px;
  border-top: 1px solid rgba(178, 178, 178, 0.8);
  position: relative;
  transition: color 0.25s ease-in;
}
.for__list-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.for__list-text p {
  font:
    500 18px "Manrope",
    sans-serif;
  color: #fff;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}
.for__list-item img {
  width: 280px;
  height: 280px;
  opacity: 0;
  border-radius: 20px;
  position: absolute;
  left: 360px;
  bottom: -75px;
  z-index: 10;
  transition: opacity 0.25s ease-in;
}
.for__list-item:nth-child(2) img {
  left: 460px;
}
.for__list-item:nth-child(3) img {
  left: 560px;
}
.for__list-item:nth-child(4) img {
  left: 600px;
}
.for__list-item:nth-child(5) img {
  left: 600px;
}
.for__list-item:nth-child(6) img {
  left: 600px;
}
.for__list-item:last-child {
  border-bottom: 1px solid rgba(178, 178, 178, 0.8);
}
.for__list-item:hover {
  background: linear-gradient(90deg, #36c0d9 0%, #045589 100%);
  color: #fff;
}
.for__list-item:hover img {
  opacity: 1;
}
.for__list-item:hover .for__list-text p {
  opacity: 1;
}
/* ***********************************TASKS************************************ */
/* ***********************************TASKS************************************ */

.tasks {
  position: relative;
}
.tasks__heading {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.tasks__heading.descriptor {
  margin-bottom: 5px;
}
.tasks__big_logo {
  font:
    700 100px "Montserrat",
    sans-serif;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 445px;
}
.tasks__list {
  display: flex;
  justify-content: center;
}
.tasks__list:first-child {
  gap: 405px;
  margin-bottom: 130px;
}
.tasks__list:nth-child(2) {
  gap: 560px;
  margin-bottom: 130px;
  justify-content: space-between;
}
.tasks__list:last-child {
  gap: 200px;
}
.tasks__list-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.tasks__list-item:first-child {
  text-align: right;
  max-width: 486px;
}
.tasks__list-item:last-child {
  text-align: left;
  max-width: 505px;
}
.tasks__lines {
  position: absolute;
  left: 290px;
  top: 290px;
}
.tasks__img {
  width: 100px;
  height: 90px;
  padding: 14px;
  background: linear-gradient(90deg, #36c0d9 0%, #045589 100%);
  border-radius: 20px;
}
.tasks__list:nth-child(2) .tasks__list-item:first-child {
  max-width: 505px;
}
.tasks__list:nth-child(3) .tasks__list-item:first-child {
  max-width: 505px;
}
/* .tasks .container {
    position: relative;    
} */
/* .tasks__lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;      
    z-index: 0;               
} */
/* .tasks__list-item {
    position: relative;
    z-index: 1;              
} */

/* ***********************************SOLUTIONS************************************ */
/* ***********************************SOLUTIONS************************************ */

.solutions__top-inner {
  display: flex;
  gap: 602px;
  margin-top: 160px;
  margin-bottom: 70px;
}
.solutions__numbers {
  display: flex;
  justify-content: space-around;
}
.solutions__bottom-inner {
  position: relative;
  z-index: 10;
}
.solutions__bottom-inner::after {
  content: "";
  top: 5%;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(178, 178, 178, 0.4);
  position: absolute;
  z-index: -1;
}
.solutions__number {
  font:
    500 35px / 1.71429 "Manrope",
    sans-serif;
  color: #fff;
  width: 150px;
  height: 60px;
  background: linear-gradient(90deg, #36c0d9 0%, #045589 100%);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
}
.solutions__bottom-inner {
  margin-top: 40px;
}
.solutions__steps {
  display: flex;
  gap: 20px;
}
.solutions__step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solutions__card {
  font:
    500 16px "Manrope",
    sans-serif;
  width: 415px;
  height: 530px;
  border: 1px solid #36c0d9;
  border-radius: 25px;
  padding: 25px;
}
.solutions__card-descriptor {
  display: inline-block;
  font:
    700 14px "Manrope",
    sans-serif;
  color: #fff;
  padding: 6.5px 18px;
  background: linear-gradient(90deg, #36c0d9 0%, #045589 100%);
  border-radius: 50px;
  margin-bottom: 15px;
}
.solutions__card:first-child .solutions__card-paragraph:nth-child(2) {
  margin-bottom: 10px;
}
.solutions__card-img img {
  border-radius: 20px;
  width: 100%;
}
.solutions__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ***********************************TOUCH************************************ */
/* ***********************************TOUCH************************************ */

.touch__top-inner {
  margin-top: 160px;
  display: flex;
  gap: 535px;
  margin-bottom: 70px;
}
.touch__descriptor {
  min-width: 177px;
}
.touch_bottom-inner {
  display: flex;
  gap: 188px;
  align-items: flex-start;
}
.touch__left {
  display: flex;
  align-items: center;
}
.touch__left-inner {
  display: flex;
  flex-direction: column;
}
.touch__left-inner img {
  border-radius: 200px;
}
.touch__left-inner p {
  font:
    700 18px "Manrope",
    sans-serif;
  text-align: center;
  margin-top: 15px;
}
.touch__right-inner {
  margin-left: 45px;
}
.touch__author-phone {
  margin-bottom: 25px;
}
.touch__author-phone h4 {
  margin-bottom: 3px;
}
.touch__author-email {
  margin-bottom: 25px;
}
.touch__author-email h4 {
  margin-bottom: 3px;
}
.touch__author-media {
  margin-right: 10px;
}
.touch__author-media:last-child {
  margin-right: 0;
}
.touch__form {
  width: 100%;
}
.touch__rigth {
  width: 100%;
}
.touch__name {
  width: 100%;
  height: 70px;
  background: #045589;
  border-radius: 15px;
  padding: 15px;
  display: block;
  margin-bottom: 5px;
}
.touch__phone {
  background: #045589;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  height: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.touch__email {
  background: #045589;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
}
.touch__message {
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  height: 160px;
  background: #045589;
  display: block;
}
.touch__checkbox {
  border: 1px solid #2c3b86;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.touch__data {
  display: flex;
  margin: 30px 0;
  align-items: center;
}

/* ***********************************FOOTER************************************ */
/* ***********************************FOOTER************************************ */

footer {
  background: linear-gradient(90deg, #36c0d9 0%, #045589 100%);
}
.footer__top-inner {
  padding-top: 70px;
  margin-top: 160px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.footer__top-inner > p {
  font:
    700 64px / 1.25 "Manrope",
    sans-serif;
  color: #fff;
  margin-right: auto;
  max-width: 480px;
}
.footer__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__arrow h4 {
  color: #fff;
}
.footer__bottom {
  padding-bottom: 70px;
}
.footer__bottom p {
  font:
    700 355px / 0.78947 "Montserrat",
    sans-serif;
  text-transform: uppercase;
  color: #fff;
}
